<nav>
    <div class="nav-container">
   
        <div class="nav-right">
            <a href="/restaurants" class="nav-left">Home</a>
        <% if (currentUser) { %>
            <a href="/restaurants/new" class="nav-left">Add Restaurant</a>
        </div>

        Welcome <%= currentUser.username %>
        <div class="nav-left">
                <form action="/sessions?_method=DELETE" method="POST">
                    <input type="submit" value="Log Out" class="log-out-btn"/>
                </form>
        </div>
    <% } else { %>
 
        <div class="nav-left">
            <a href="/users/new">Sign Up</a>
            <a href="/sessions/new">Log In</a>
        </div>

    </div>
    <% } %>
</nav>
<hr>