<nav>
    <a href="/restaurants" style="margin: 20px">Home</a>
    <% if (currentUser) { %>
        <a href="/restaurants/new">Add Restaurant</a>
        <li>Welcome <%= currentUser.username %></li>
        <li>
            <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Log Out" />
            </form>
        </li>
    <% } else { %>
        <li><a href="/users/new">Sign Up</a></li>
        <li><a href="/sessions/new">Log In</a></li>
    <% } %>
    <hr>
</nav>