body {
    background-color: #f8f8f8;
    background-image: url("https://www.transparenttextures.com/patterns/light-paper-fibers.png");
    font-family: "Oswald", sans-serif;
    text-align: center;
}

img {
    width: 500px;
    height: 500px;
    /*border: 4px solid #6e4f53;*/
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: large;
}

.welcome {
    padding-right: 80px;
}

.parent-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container {
    flex-direction: column;
    flex: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form-container {
    border: 3px solid #6e4f53;
    width: 430px;
    margin: auto;
}

.form {
    display: grid;
    grid-template-columns: 130px 1000px;
    text-align: left;
    background-color: #f8f8f8;
    padding: 10px 40px;
}

.form-container-2 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

label {
    padding-top: 20px;
    padding-right: 5px;
}

input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=password] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=submit]:not(#log-out-btn) {
    
    background-color: #6e5e60;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: #6e4f53;
}

a[type=button] {
    font-family: "Oswald", sans-serif;
    background-color: #6e5e60;
    color: white;
    padding: 13px 30px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: small;
}

textarea {
    width: 30%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.comment-container {
    display: flex;
    justify-content: center;
}

.comment {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    justify-items: start;
    width: 300px;
    padding: 15px;
    background-color: rgba(110, 97, 98, 0.5);
    border: 2px solid #6e4f53 ;
    border-radius: 1em;
    font-family: "Oswald", sans-serif;
}


#log-out-btn {
    font-family: "Oswald", sans-serif;
    font-size: medium;
    background-color: transparent;
    border: none;
    color: black;
    text-decoration: underline;
}

#log-out-btn:hover {
    color: #6e4f53;
    cursor: pointer;
}

a:link:not(#edit) {
    color: black;
}

a:visited:not(#edit) {
    color: black;
}

a:hover:not(#edit) {
    color: #6e4f53;
}

.show-child {
    display: inline-block;
}

footer {
    position: absolute;
    width: 98%;
}


