<!DOCTYPE html>
<html lang="en">
    <%- include ("../partials/head.ejs") %>
<body>
    <%- include ("../partials/header.ejs") %>
    <h1>Add a Restaurant:</h1>
    <form action="/restaurants" method="POST">
        <div class="form-container">
        <div class="form">
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" placeholder="enter name"/>
            
            <label for="address">Address: </label>
            <input type="text" name="address" id="address" placeholder="enter address"/>
    
            <label for="hours">Operation Hours: </label>
            <input type="text" name="hours" id="hours" placeholder="enter hours"/>
        </div>
        
        <div class="form">
            <label for="price">Price Range: </label>
            <input type="text" name="price" id="price" placeholder="enter price"/>

            <label for="cuisine">Cuisine: </label>
            <input type="text" name="cuisine" id="cuisine" placeholder="enter cuisine"/>

            <label for="rating">Rating: </label>
            <input type="text" name="rating" id="rating" placeholder="enter rating"/>
        </div>
        
        <div class="form">
            <label for="img">Image URL: </label>
            <input type="text" name="img" id="img" placeholder="enter image url"/>

            <label for="description">Description: </label>
            <input type="text" name="description" id="description" placeholder="enter description"/>

            <label for="parking">Parking: </label>
            <input type="text" name="parking" id="parking" placeholder="enter true or false"/>
        </div>
        </div>
        <h1></h1>
        <input type="submit" value="Add Restaurant!" class="btn"/>
    </form>
    <!-- Compiled and minified Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <%- include ("../partials/footer.ejs") %>
</body>
</html>