<!DOCTYPE html>
<html lang="en">
    <%- include ("../partials/head.ejs") %>
<body>
    <%- include('../partials/header') %>
    <h1>Sign Up</h1>
    <form action="/users" method="POST">
        <div class="form-container-2">
            <div class="input">Username: <input required type="text" name="username"/><br></div>
            <div class="input">Password: <input required type="password" name="password"><br></div>
        </div>
        <h1></h1>
        <input type="submit" name="" value="Sign Up" class="btn"/>
    </form>
    <%- include ("../partials/footer.ejs") %>
</body>
</html>
